# <font face='comic sans ms' color ='PaleTurquoise'>Monday 2023-05-22</font>

## <font face='comic sans ms' color ='yellow'>Level 1</font>

In [ ]:
data=input().split()

In [ ]:
for i in range(0,len(data)//2,3):
    print(data[i],data[i+1],data[i+2],data[len(data)//2+i],data[len(data)//2+i+1],data[len(data)//2+i+2])
    # print(data[len(data)//2+i],data[len(data)//2+i+1],data[len(data)//2+i+2])

In [ ]:
stack=''
for i in range(0,len(data)//2,3):
    if data[i+2]!=data[len(data)//2+i+2]:
        stack+=data[i+1]+' '
print(stack)

## <font face='comic sans ms' color ='yellow'>Level 2</font>

In [ ]:
data=input().split()

In [ ]:
amount=[]
payment=[]
for i in range(0,len(data),3):
    geld=(data[i+1],data[i+2])
    if data[i]=='F':
        amount.append(geld)
    else:
        payment.append(geld)

In [ ]:
amount

In [ ]:
print(payment)

In [ ]:
totalAmt=0
for i,j in amount:
    totalAmt+=int(j)
totalAmt

In [ ]:
totalPayment=0
for i,j in payment:
    totalPayment+=int(j)
totalPayment

In [ ]:
netAmt=totalAmt-totalPayment
netAmt

In [ ]:
stack=''
for i in range(len(amount)-1,-1,-1):
    netAmt-=int(amount[i][1])
    stack+=amount[i][0]
    if netAmt<=0:
        break
print(stack)

# <font face='comic sans ms' color ='PaleTurquoise'>Tuesday 2023-05-23</font>

## <font face='comic sans ms' color ='yellow'>Level 3</font>

F 1 209 F 2 254 F 3 895 F 4 439 B 1 104 B 2 127 B 3 74 B 3 447 B 4 127 B 4 219 B 5 448 B 6 220

In [1]:
data=input().split()

In [2]:
amount=[]
payment=[]
for i in range(0,len(data),3):
    geld=(data[i+1],data[i+2])
    if data[i]=='F':
        amount.append(geld)
    else:
        payment.append(geld)

print(amount)
print(payment)

[('1', '367'), ('2', '38'), ('3', '602'), ('4', '624')]
[('1', '183'), ('2', '19'), ('3', '184'), ('3', '301'), ('4', '19'), ('4', '312'), ('5', '64'), ('6', '312')]

In [ ]:
array=[int(j) for i,j in payment]
array

In [6]:
def composed(array,i,amt):
    if amt==0: return True 
    elif i==len(array): return False

    if amt>=array[i]:
        return composed(array,i+1,amt-array[i]) or composed(array,i+1,amt)
    else:
        return False

In [ ]:
def composed1(array,i,amt,list1):
    if amt==0: return True 
    elif i==len(array): return False

    if amt>=array[i]:
        taken=composed1(array,i+1,amt-array[i],list1)
        notTaken=composed1(array,i+1,amt,list1)
        if taken: list1.append(i)
        return taken or notTaken
    else:
        return False

In [ ]:
lis=[]
composed1(array,0,209,lis)
lis

In [ ]:
array

In [31]:
def composed1(array,i,amt,list1):
    if amt==0: return True 
    elif i==len(array): return False

    if amt>=array[i]:
        taken=composed1(array,i+1,amt-array[i],list1)
        notTaken=composed1(array,i+1,amt,list1)
        if taken: list1.append(i)
        return taken or notTaken
    else:
        return composed1(array,i+1,amt,list1)

In [32]:


data=input().split()
amount=[]
payment=[]
for i in range(0,len(data),3):
    geld=(data[i+1],data[i+2])
    if data[i]=='F':
        amount.append(geld)
    else:
        payment.append(geld)

In [33]:
array=[int(j) for i,j in payment]

In [34]:
for i,j in amount:
    indexes=[]
    composed1(array,0,int(j),indexes)
    if 0<len(indexes)<=4:
        indexes.sort(reverse=True)
        for index in indexes:
            array.pop(index)
    else:
        print(i,end=' ')

1 2 8 15

In [15]:
array

[301, 64]

In [19]:
print([int(i) for _,i in amount])

[123395, 488034, 78861, 200882, 102517, 49658, 201804, 247860, 356333, 163982, 351283, 305592, 443860, 111094, 216152, 220897, 184823, 438974, 464208]

In [20]:
print([int(i) for _,i in payment])

[61697, 9577, 244017, 30849, 39430, 244017, 19716, 100441, 19715, 51258, 100441, 25630, 24829, 25629, 100902, 24829, 123930, 100902, 61965, 178166, 61965, 89084, 81991, 89083, 175641, 81991, 152796, 175642, 76398, 221930, 76398, 110965, 55547, 110965, 27774, 108076, 73709, 46206, 110448, 27773, 92411, 110449, 116052, 219487, 46206, 232104, 219487, 116052]

In [21]:
l=[]
a=[61697, 9577, 244017, 30849, 39430, 244017, 19716, 100441, 19715, 51258, 100441, 25630, 24829, 25629, 100902, 24829, 123930, 100902, 61965, 178166, 61965, 89084, 81991, 89083, 175641, 81991, 152796, 175642, 76398, 221930, 76398, 110965, 55547, 110965, 27774, 108076, 73709, 46206, 110448, 27773, 92411, 110449, 116052, 219487, 46206, 232104, 219487, 116052]

In [23]:
def fun1(array,amt,n,l):
    if amt==0: return True
    elif n==0: return False

    if amt>=array[n-1]:
        taken=fun1(array,amt-array[n-1],n-1,l)
        if taken: l.append(n-1)
        nottaken=fun1(array,amt,n-1,l)
        return taken or nottaken
    else:
        return fun1(array,amt,n-1,l)

In [35]:
fun1(a,78861,len(a),l),l

(True, [5, 2, 4, 6, 8, 4, 6, 8])

In [25]:
l

[0, 2]

In [27]:
b=[5, 2, 4, 6, 8]

In [30]:
b.sort(reverse=True)
b

[8, 6, 5, 4, 2]