## <font face='comic sans ms' color ='yellow'>mysql python</font>

In [ ]:
import mysql.connector as con

In [ ]:
mydb=con.connect(host='localhost',user='root',passwd='12345')
mydb.is_connected()

In [ ]:
mycursor=mydb.cursor()
mycursor.execute('show databases')

In [ ]:
for row in mycursor:
    print(row)

In [ ]:
mydb=con.connect(host='localhost',user='root',passwd='12345',database='semester6_db')
mydb.is_connected()

In [ ]:
mycursor=mydb.cursor()
mycursor.execute('select * from course')

In [ ]:
for row in mycursor:
    print(row)

## <font face='comic sans ms' color ='yellow'>Reading csv file and creating table with its data</font>

In [ ]:
def readCsvFile(filePath):
    import csv
    with open(filePath) as f:
        tab_reader=csv.reader(f,delimiter=',')
        return list(tab_reader)[1:]
        # for row in tab_reader:
        #     print(row)
        #     # break

In [ ]:
print(len(readCsvFile('resources/books.csv')))

In [3]:
import mysql.connector as con
mydb=con.connect(host='localhost',user='root',passwd='12345')
mydb.is_connected()

True

In [8]:
mycursor=mydb.cursor()
try:
    mycursor.execute('create database book_db')
    print('database book_db successfully created...')
except:
    print('error occured')
mycursor.execute('show databases')
print('list of databases are')
print(list(mycursor))

error occured
list of databases are
[('book_db',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('semester6_db',), ('studentdb',), ('sys',), ('world',)]

In [11]:
mycursor.execute('use book_db')
print(mycursor)

CMySQLCursor: use book_db

In [ ]:
mycursor.execute('create table Book(Book_id serial primary key, Title varchar(100) unique, Author varchar(50), Genre varchar(50), Height int, Publisher varchar(50))')
print(mycursor)

In [ ]:
mycursor.execute('show tables')
for table in mycursor:
    print(table[0])

In [ ]:
def insert(listOfData,mycursor):
    c=0
    for row in listOfData:
        for i in range(len(row)):
            if row[i]=='': row[i]='null'
        Title,Author,Genre,Height,Publisher=row
        query=f'''INSERT into book(Title,Author,Genre,Height,Publisher) values("{Title}","{Author}","{Genre}",{Height},"{Publisher}")'''
        try:
            mycursor.execute(query)
            c+=1
        except Exception as e:
            print(e)
            print(query)
    print(c,'values inserted')

In [ ]:
insert(readCsvFile('resources/books.csv'),mycursor)

In [ ]:
len('Clash of Civilizations and Remaking of the World Order')

In [6]:
def showRows(table,mycursor):
    mycursor.execute(f'select * from {table}')
    for row in mycursor:
        print(row)

In [12]:
showRows('book',mycursor)

In [10]:
mycursor.execute('delete from book')

ProgrammingError: 1046 (3D000): No database selected

In [ ]:
mycursor.execute("alter table book modify title varchar(100)")

In [ ]:
mycursor.execute("drop table book")