## <font face='comic sans ms' color ='yellow'>mysql python</font>

In [ ]:
import mysql.connector as con

In [ ]:
mydb=con.connect(host='localhost',user='root',passwd='12345')
mydb.is_connected()

In [ ]:
mycursor=mydb.cursor()
mycursor.execute('show databases')

In [ ]:
for row in mycursor:
    print(row)

In [ ]:
mydb=con.connect(host='localhost',user='root',passwd='12345',database='semester6_db')
mydb.is_connected()

In [ ]:
mycursor=mydb.cursor()
mycursor.execute('select * from course')

In [ ]:
for row in mycursor:
    print(row)

## <font face='comic sans ms' color ='yellow'>Reading csv file and creating table with its data</font>

In [1]:
def readCsvFile(filePath):
    import csv
    with open(filePath) as f:
        tab_reader=csv.reader(f,delimiter=',')
        return list(tab_reader)[1:]
        # for row in tab_reader:
        #     print(row)
        #     # break

In [7]:
ls=readCsvFile('resources/books.csv')

In [11]:
type(ls[0][0])

str

In [21]:
for i in ls:
    for j in range(4):
        if i[j]=='':
            print('null',end='/')
        else:
            print(i[j],end='/')
    # print(i[-1])
    if i[-1]=='':
        print('null')
    else:
        print(i[-1])
    # print()

Fundamentals of Wavelets/Goswami, Jaideva/signal_processing/228/Wiley
Data Smart/Foreman, John/data_science/235/Wiley
God Created the Integers/Hawking, Stephen/mathematics/197/Penguin
Superfreakonomics/Dubner, Stephen/economics/179/HarperCollins
Orientalism/Said, Edward/history/197/Penguin
Nature of Statistical Learning Theory, The/Vapnik, Vladimir/data_science/230/Springer
Integration of the Indian States/Menon, V P/history/217/Orient Blackswan
Drunkard's Walk, The/Mlodinow, Leonard/science/197/Penguin
Image Processing & Mathematical Morphology/Shih, Frank/signal_processing/241/CRC
How to Think Like Sherlock Holmes/Konnikova, Maria/psychology/240/Penguin
Data Scientists at Work/Sebastian Gutierrez/data_science/230/Apress
Slaughterhouse Five/Vonnegut, Kurt/fiction/198/Random House
Birth of a Theorem/Villani, Cedric/mathematics/234/Bodley Head
Structure & Interpretation of Computer Programs/Sussman, Gerald/computer_science/240/MIT Press
Age of Wrath, The/Eraly, Abraham/history/238/Penguin
Trial, The/Kafka, Frank/fiction/198/Random House
Statistical Decision Theory'/Pratt, John/data_science/236/MIT Press
Data Mining Handbook/Nisbet, Robert/data_science/242/Apress
New Machiavelli, The/Wells, H. G./fiction/180/Penguin
Physics & Philosophy/Heisenberg, Werner/science/197/Penguin
Making Software/Oram, Andy/computer_science/232/O'Reilly
Analysis, Vol I/Tao, Terence/mathematics/248/HBA
Machine Learning for Hackers/Conway, Drew/data_science/233/O'Reilly
Signal and the Noise, The/Silver, Nate/data_science/233/Penguin
Python for Data Analysis/McKinney, Wes/data_science/233/O'Reilly
Introduction to Algorithms/Cormen, Thomas/computer_science/234/MIT Press
Beautiful and the Damned, The/Deb, Siddhartha/nonfiction/198/Penguin
Outsider, The/Camus, Albert/fiction/198/Penguin
Complete Sherlock Holmes, The - Vol I/Doyle, Arthur Conan/fiction/176/Random House
Complete Sherlock Holmes, The - Vol II/Doyle, Arthur Conan/fiction/176/Random House
Wealth of Nations, The/Smith, Adam/economics/175/Random House
Pillars of the Earth, The/Follett, Ken/fiction/176/Random House
Mein Kampf/Hitler, Adolf/nonfiction/212/Rupa
Tao of Physics, The/Capra, Fritjof/science/179/Penguin
Surely You're Joking Mr Feynman/Feynman, Richard/science/198/Random House
Farewell to Arms, A/Hemingway, Ernest/fiction/179/Rupa
Veteran, The/Forsyth, Frederick/fiction/177/Transworld
False Impressions/Archer, Jeffery/fiction/177/Pan
Last Lecture, The/Pausch, Randy/nonfiction/197/Hyperion
Return of the Primitive/Rand, Ayn/philosophy/202/Penguin
Jurassic Park/Crichton, Michael/fiction/174/Random House
Russian Journal, A/Steinbeck, John/nonfiction/196/Penguin
Tales of Mystery and Imagination/Poe, Edgar Allen/fiction/172/HarperCollins
Freakonomics/Dubner, Stephen/economics/197/Penguin
Hidden Connections, The/Capra, Fritjof/science/197/HarperCollins
Story of Philosophy, The/Durant, Will/philosophy/170/Pocket
Asami Asami/Deshpande, P L/fiction/205/Mauj
Journal of a Novel/Steinbeck, John/fiction/196/Penguin
Once There Was a War/Steinbeck, John/nonfiction/196/Penguin
Moon is Down, The/Steinbeck, John/fiction/196/Penguin
Brethren, The/Grisham, John/fiction/174/Random House
In a Free State/Naipaul, V. S./fiction/196/Rupa
Catch 22/Heller, Joseph/fiction/178/Random House
Complete Mastermind, The/BBC/nonfiction/178/BBC
Dylan on Dylan/Dylan, Bob/nonfiction/197/Random House
Soft Computing & Intelligent Systems/Gupta, Madan/data_science/242/Elsevier
Textbook of Economic Theory/Stonier, Alfred/economics/242/Pearson
Econometric Analysis/Greene, W. H./economics/242/Pearson
Learning OpenCV/Bradsky, Gary/data_science/232/O'Reilly
Data Structures Using C & C++/Tanenbaum, Andrew/computer_science/235/Prentice Hall
Computer Vision, A Modern Approach/Forsyth, David/data_science/255/Pearson
Principles of Communication Systems/Taub, Schilling/computer_science/240/TMH
Let Us C/Kanetkar, Yashwant/computer_science/213/Prentice Hall
Amulet of Samarkand, The/Stroud, Jonathan/fiction/179/Random House
Crime and Punishment/Dostoevsky, Fyodor/fiction/180/Penguin
Angels & Demons/Brown, Dan/fiction/178/Random House
Argumentative Indian, The/Sen, Amartya/nonfiction/209/Picador
Sea of Poppies/Ghosh, Amitav/fiction/197/Penguin
Idea of Justice, The/Sen, Amartya/nonfiction/212/Penguin
Raisin in the Sun, A/Hansberry, Lorraine/fiction/175/Penguin
All the President's Men/Woodward, Bob/history/177/Random House
Prisoner of Birth, A/Archer, Jeffery/fiction/176/Pan
Scoop!/Nayar, Kuldip/history/216/HarperCollins
Ahe Manohar Tari/Deshpande, Sunita/nonfiction/213/Mauj
Last Mughal, The/Dalrymple, William/history/199/Penguin
Social Choice & Welfare, Vol 39 No. 1/Various/economics/235/Springer
Radiowaril Bhashane & Shrutika/Deshpande, P L/nonfiction/213/Mauj
Gun Gayin Awadi/Deshpande, P L/nonfiction/212/Mauj
Aghal Paghal/Deshpande, P L/nonfiction/212/Mauj
Maqta-e-Ghalib/Garg, Sanjay/fiction/221/Mauj
Beyond Degrees/null/nonfiction/222/HarperCollins
Manasa/Kale, V P/nonfiction/213/Mauj
India from Midnight to Milennium/Tharoor, Shashi/history/198/Penguin
World's Greatest Trials, The/null/history/210/null
Great Indian Novel, The/Tharoor, Shashi/fiction/198/Penguin
O Jerusalem!/Lapierre, Dominique/history/217/vikas
City of Joy, The/Lapierre, Dominique/fiction/177/vikas
Freedom at Midnight/Lapierre, Dominique/history/167/vikas
Winter of Our Discontent, The/Steinbeck, John/fiction/196/Penguin
On Education/Russell, Bertrand/philosophy/203/Routledge
Free Will/Harris, Sam/philosophy/203/FreePress
Bookless in Baghdad/Tharoor, Shashi/nonfiction/206/Penguin
Case of the Lame Canary, The/Gardner, Earle Stanley/fiction/179/null
Theory of Everything, The/Hawking, Stephen/science/217/Jaico
New Markets & Other Essays/Drucker, Peter/economics/176/Penguin
Electric Universe/Bodanis, David/science/201/Penguin
Hunchback of Notre Dame, The/Hugo, Victor/fiction/175/Random House
Burning Bright/Steinbeck, John/fiction/175/Penguin
Age of Discontuinity, The/Drucker, Peter/economics/178/Random House
Doctor in the Nude/Gordon, Richard/fiction/179/Penguin
Down and Out in Paris & London/Orwell, George/nonfiction/179/Penguin
Identity & Violence/Sen, Amartya/philosophy/219/Penguin
Beyond the Three Seas/Dalrymple, William/history/197/Random House
World's Greatest Short Stories, The/null/fiction/217/Jaico
Talking Straight/Iacoca, Lee/nonfiction/175/null
Maugham's Collected Short Stories, Vol 3/Maugham, William S/fiction/171/Vintage
Phantom of Manhattan, The/Forsyth, Frederick/fiction/180/null
Ashenden of The British Agent/Maugham, William S/fiction/160/Vintage
Zen & The Art of Motorcycle Maintenance/Pirsig, Robert/philosophy/172/Vintage
Great War for Civilization, The/Fisk, Robert/history/197/HarperCollins
We the Living/Rand, Ayn/fiction/178/Penguin
Artist and the Mathematician, The/Aczel, Amir/science/186/HighStakes
History of Western Philosophy/Russell, Bertrand/philosophy/213/Routledge
Selected Short Stories/null/fiction/215/Jaico
Rationality & Freedom/Sen, Amartya/economics/213/Springer
Clash of Civilizations and Remaking of the World Order/Huntington, Samuel/history/228/Simon&Schuster
Uncommon Wisdom/Capra, Fritjof/nonfiction/197/Fontana
One/Bach, Richard/nonfiction/172/Dell
Karl Marx Biography/null/nonfiction/162/null
To Sir With Love/Braithwaite/fiction/197/Penguin
Half A Life/Naipaul, V S/fiction/196/null
Discovery of India, The/Nehru, Jawaharlal/history/230/null
Apulki/Deshpande, P L/nonfiction/211/null
Unpopular Essays/Russell, Bertrand/philosophy/198/null
Deceiver, The/Forsyth, Frederick/fiction/178/null
Veil: Secret Wars of the CIA/Woodward, Bob/history/171/null
Char Shabda/Deshpande, P L/nonfiction/214/null
Rosy is My Relative/Durrell, Gerald/fiction/176/null
Moon and Sixpence, The/Maugham, William S/fiction/180/null
Political Philosophers/null/philosophy/162/null
Short History of the World, A/Wells, H G/history/197/null
Trembling of a Leaf, The/Maugham, William S/fiction/205/null
Doctor on the Brain/Gordon, Richard/fiction/204/null
Simpsons & Their Mathematical Secrets/Singh, Simon/science/233/null
Pattern Classification/Duda, Hart/data_science/241/null
From Beirut to Jerusalem/Friedman, Thomas/history/202/null
Code Book, The/Singh, Simon/science/197/null
Age of the Warrior, The/Fisk, Robert/history/197/null
Final Crisis/null/comic/257/null
Killing Joke, The/null/comic/283/null
Flashpoint/null/comic/265/null
Batman Earth One/null/comic/265/null
Crisis on Infinite Earths/null/comic/258/null
Numbers Behind Numb3rs, The/Devlin, Keith/science/202/null
Superman Earth One - 1/null/comic/259/null
Superman Earth One - 2/null/comic/258/null
Justice League: Throne of Atlantis/null/comic/258/null
Justice League: The Villain's Journey/null/comic/258/null
Death of Superman, The/null/comic/258/null
History of the DC Universe/null/comic/258/null
Batman: The Long Halloween/null/comic/258/null
Life in Letters, A/Steinbeck, John/nonfiction/196/null
Information, The/Gleick, James/science/233/null
Journal of Economics, vol 106 No 3/null/economics/235/null
Elements of Information Theory/Thomas, Joy/data_science/229/null
Power Electronics - Rashid/Rashid, Muhammad/computer_science/235/null
Power Electronics - Mohan/Mohan, Ned/computer_science/237/null
Neural Networks/Haykin, Simon/data_science/240/null
Grapes of Wrath, The/Steinbeck, John/fiction/196/null
Vyakti ani Valli/Deshpande, P L/nonfiction/211/null
Statistical Learning Theory/Vapnik, Vladimir/data_science/228/null
Empire of the Mughal - The Tainted Throne/Rutherford, Alex/history/180/null
Empire of the Mughal - Brothers at War/Rutherford, Alex/history/180/null
Empire of the Mughal - Ruler of the World/Rutherford, Alex/history/180/null
Empire of the Mughal - The Serpent's Tooth/Rutherford, Alex/history/180/null
Empire of the Mughal - Raiders from the North/Rutherford, Alex/history/180/null
Mossad/Baz-Zohar, Michael/history/236/null
Jim Corbett Omnibus/Corbett, Jim/nonfiction/223/null
20000 Leagues Under the Sea/Verne, Jules/fiction/190/null
Batatyachi Chal/Deshpande P L/fiction/200/null
Hafasavnuk/Deshpande P L/fiction/211/null
Urlasurla/Deshpande P L/fiction/211/null
Pointers in C/Kanetkar, Yashwant/computer_science/213/null
Cathedral and the Bazaar, The/Raymond, Eric/computer_science/217/null
Design with OpAmps/Franco, Sergio/computer_science/240/null
Think Complexity/Downey, Allen/data_science/230/null
Devil's Advocate, The/West, Morris/fiction/178/null
Ayn Rand Answers/Rand, Ayn/philosophy/203/null
Philosophy: Who Needs It/Rand, Ayn/philosophy/171/null
World's Great Thinkers, The/null/philosophy/189/null
Data Analysis with Open Source Tools/Janert, Phillip/data_science/230/null
Broca's Brain/Sagan, Carl/science/174/null
Men of Mathematics/Bell, E T/mathematics/217/null
Oxford book of Modern Science Writing/Dawkins, Richard/science/240/null
Justice, Judiciary and Democracy/Ranjan, Sudhanshu/philosophy/224/null
Arthashastra, The/Kautiyla/philosophy/214/null
We the People/Palkhivala/philosophy/216/null
We the Nation/Palkhivala/philosophy/216/null
Courtroom Genius, The/Sorabjee/nonfiction/217/null
Dongri to Dubai/Zaidi, Hussain/nonfiction/216/null
History of England, Foundation/Ackroyd, Peter/history/197/null
City of Djinns/Dalrymple, William/history/198/null
India's Legal System/Nariman/nonfiction/177/null
More Tears to Cry/Sassoon, Jean/fiction/235/null
Ropemaker, The/Dickinson, Peter/fiction/196/null
Angels & Demons/Brown, Dan/fiction/170/null
Judge, The/null/fiction/170/null
Attorney, The/null/fiction/170/null
Prince, The/Machiavelli/philosophy/173/null
Eyeless in Gaza/Huxley, Aldous/fiction/180/null
Tales of Beedle the Bard/Rowling, J K/fiction/184/null
Girl with the Dragon Tattoo/Larsson, Steig/fiction/179/null
Girl who kicked the Hornet's Nest/Larsson, Steig/fiction/179/null
Girl who played with Fire/Larsson, Steig/fiction/179/null
Batman Handbook/null/comic/270/null
Murphy's Law/null/nonfiction/178/null
Structure and Randomness/Tao, Terence/mathematics/252/null
Image Processing with MATLAB/Eddins, Steve/signal_processing/241/null
Animal Farm/Orwell, George/fiction/180/null
Idiot, The/Dostoevsky, Fyodor/fiction/197/null
Christmas Carol, A/Dickens, Charles/fiction/196/null

In [3]:
import mysql.connector as con
mydb=con.connect(host='localhost',user='root',passwd='12345')
mydb.is_connected()

True

In [8]:
mycursor=mydb.cursor()
try:
    mycursor.execute('create database book_db')
    print('database book_db successfully created...')
except:
    print('error occured')
mycursor.execute('show databases')
print('list of databases are')
print(list(mycursor))

error occured
list of databases are
[('book_db',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('semester6_db',), ('studentdb',), ('sys',), ('world',)]

In [11]:
mycursor.execute('use book_db')
print(mycursor)

CMySQLCursor: use book_db

In [ ]:
mycursor.execute('create table Book(Book_id serial primary key, Title varchar(100) unique, Author varchar(50), Genre varchar(50), Height int, Publisher varchar(50))')
print(mycursor)

In [ ]:
mycursor.execute('show tables')
for table in mycursor:
    print(table[0])

In [ ]:
def insert(listOfData,mycursor):
    c=0
    for row in listOfData:
        for i in range(len(row)):
            if row[i]=='': row[i]='null'
        Title,Author,Genre,Height,Publisher=row
        query=f'''INSERT into book(Title,Author,Genre,Height,Publisher) values("{Title}","{Author}","{Genre}",{Height},"{Publisher}")'''
        try:
            mycursor.execute(query)
            c+=1
        except Exception as e:
            print(e)
            print(query)
    print(c,'values inserted')

In [ ]:
insert(readCsvFile('resources/books.csv'),mycursor)

In [ ]:
len('Clash of Civilizations and Remaking of the World Order')

In [6]:
def showRows(table,mycursor):
    mycursor.execute(f'select * from {table}')
    for row in mycursor:
        print(row)

In [12]:
showRows('book',mycursor)

In [10]:
mycursor.execute('delete from book')

ProgrammingError: 1046 (3D000): No database selected

In [ ]:
mycursor.execute("alter table book modify title varchar(100)")

In [ ]:
mycursor.execute("drop table book")