In [1]:
a='ABCDEDCBA'
length=len(a)//2
c=1
print('',a)
for i in range(length,0,-1):
    print(' '*c+a[:i],a[length+c:])
    c+=1

 ABCDEDCBA
 ABCD DCBA
  ABC CBA
   AB BA
    A A

In [2]:
len('The universe contains many different universities')

49

In [14]:
P = 100000
r = 10
R = (10/100) / 12
N = 24 
R

0.008333333333333333

In [17]:
P * R * ( ((1 + R)**N) / ((1 + R)**N - 1) )

4614.492633751666

In [15]:
type(((1 + R)**N )/ ((1 + R)**N - 1))

float

In [16]:
type( P * R)

float

In [ ]:
EMI is Rs.4614.49