### <font face='comic sans ms' color ='magenta'>Level 1</font>

In [2]:
data=open('input/level1_1.in')
lines=data.readlines()
N=int(lines[0])
prices=[int(lines[i]) for i in range(1,N+1)]

In [ ]:
minPriceId=0
for i in range(N):
    if prices[minPriceId]>prices[i]:
        minPriceId=i
minPriceId

### <font face='comic sans ms' color ='magenta'>Level 2</font>

In [24]:
data=open('input/level2_5.in')
lines=data.readlines()
N=int(lines[0])
prices=[int(lines[i]) for i in range(1,N+1)]
M=int(lines[N+1])
taskIdAndComplTime=[tuple(map(int,lines[i].split())) for i in range(N+2,N+2+M)]

In [25]:
def getMinPriceStartId(N,prices,minutes):
    startId=0
    for i in range(0,N-minutes+1):
        tempPriceSum=sum(prices[i:i+minutes])
        if tempPriceSum<sum(prices[startId:startId+minutes]):
            startId=i
    return startId

In [23]:
str1=f'{M}\n'
for task,minutes in taskIdAndComplTime:
    startId=getMinPriceStartId(N,prices,minutes)
    str1+=f'{task} {startId}\n'

200
1 8672
2 0
3 2296
4 1473
5 1050
6 7570
7 8884
8 5548
9 0
10 6081
11 7949
12 5130
13 1889
14 5694
15 5496
16 5370
17 1641
18 2048
19 8747
20 5421
21 4423
22 5682
23 5326
24 5261
25 949
26 2565
27 4854
28 3822
29 4329
30 4612
31 6069
32 4391
33 824
34 0
35 5496
36 5846
37 7269
38 3455
39 0
40 0
41 8674
42 2408
43 0
44 5498
45 5812
46 1265
47 869
48 5321
49 5849
50 2715
51 5695
52 0
53 4966
54 5494
55 1660
56 606
57 4257
58 7903
59 4431
60 1319
61 5603
62 8747
63 5323
64 5383
65 5156
66 4389
67 4112
68 5803
69 7090
70 0
71 5845
72 5373
73 5498
74 3389
75 4054
76 1114
77 917
78 5129
79 0
80 8740
81 888
82 3722
83 5803
84 7801
85 4807
86 4015
87 5699
88 5803
89 4759
90 2711
91 8630
92 912
93 0
94 1656
95 7402
96 929
97 2367
98 4496
99 3199
100 3117
101 5803
102 3447
103 2978
104 7423
105 2696
106 5496
107 4336
108 3227
109 5494
110 5544
111 5686
112 4206
113 5436
114 5677
115 4872
116 3192
117 1032
118 5326
119 5070
120 7949
121 7281
122 5495
123 3686
124 7929
125 4019
126 5498
127 5496
128 1703
129 2091
130 4034
131 5939
132 5492
133 5806
134 5920
135 0
136 1706
137 0
138 5441
139 7949
140 1050
141 1670
142 5070
143 7950
144 678
145 665
146 3811
147 5695
148 3646
149 1
150 8728
151 5633
152 7070
153 8657
154 2377
155 584
156 7781
157 3655
158 5964
159 7993
160 5134
161 4764
162 7713
163 5539
164 5370
165 7451
166 7604
167 8655
168 8719
169 2241
170 8701
171 8776
172 5496
173 5627
174 0
175 4287
176 5921
177 5695
178 5849
179 8653
180 781
181 4425
182 4295
183 1201
184 3737
185 3686
186 1146
187 540
188 894
189 5699
190 5565
191 899
192 8696
193 7494
194 4320
195 1028
196 7423
197 4099
198 6009
199 1789
200 5845

### <font face='comic sans ms' color ='magenta'>Level 3</font>

In [24]:
data=open('input/level3_1.in')
lines=data.readlines()
N=int(lines[0])
prices=[int(lines[i]) for i in range(1,N+1)]
M=int(lines[N+1])
tskPowStEn=[tuple(map(int,lines[i].split())) for i in range(N+2,N+2+M)]

In [6]:
print(N)
for p in prices:
    print(p)
print(M)
for i in tskPowStEn:
    print(i)

10
9796
8267
5415
8256
6770
3985
2567
2753
5600
5046
5
(1, 4, 2, 8)
(2, 7, 1, 8)
(3, 1, 0, 2)
(4, 1, 7, 8)
(5, 1, 1, 2)

In [20]:
sm=sum(prices[1:2+1])
sm

13682

In [25]:
str1=f'{M}\n'
for tskId,pw,st,ed in tskPowStEn:
    priceId=st
    for i in range(st,ed+1):
        if prices[priceId]>prices[i]:
            priceId=i
    str1+=f'{tskId} {priceId} {pw}\n'

In [26]:
f=open('output.out','w')
f.write(str1)
f.close()

### <font face='comic sans ms' color ='magenta'>Level 4</font>

In [88]:
data=open('input/level4_1.in')
lines=data.readlines()
maxPow=int(lines[0])
maxElecBill=int(lines[1])
N=int(lines[2])
prices=[int(lines[i]) for i in range(3,N+3)]
M=int(lines[N+3])
tskPowStEn=[list(map(int,lines[i].split())) for i in range(N+4,N+4+M)]

In [89]:
print('Max Power:',maxPow)
print('Max Electricity Bill:',maxElecBill)
print('no. of prices:',N)
for i in range(N):
    print(f'{i}. {prices[i]}')
print()
print('no. of tasks:',M)
print('taskID\tpower\tstartInt\tendInt')
for i,j,k,l in tskPowStEn:
    print(f'{i}\t{j}\t{k}\t{l}')

Max Power: 10
Max Electricity Bill: 500000
no. of prices: 50
0. 6139
1. 6204
2. 5839
3. 6402
4. 7169
5. 9608
6. 9301
7. 9700
8. 8642
9. 8191
10. 8590
11. 8553
12. 8290
13. 7576
14. 7589
15. 7153
16. 7234
17. 7762
18. 8247
19. 7989
20. 8769
21. 8430
22. 8469
23. 8338
24. 7754
25. 8526
26. 6617
27. 7806
28. 7135
29. 5925
30. 5944
31. 4303
32. 4491
33. 3822
34. 2030
35. 3368
36. 4013
37. 2551
38. 1851
39. 3061
40. 3286
41. 3674
42. 4504
43. 4905
44. 5801
45. 6043
46. 6148
47. 6152
48. 6804
49. 8136

no. of tasks: 10
taskID	power	startInt	endInt
1	1	35	39
2	4	25	34
3	1	39	47
4	36	11	49
5	2	35	41
6	16	18	47
7	1	35	48
8	40	2	42
9	4	29	47
10	13	34	49

In [83]:
pricesLimit={x:5 for x in prices}

In [76]:
len(pricesLimit)

50

In [91]:
print(tskPowStEn)

[[1, 1, 35, 39], [2, 4, 25, 34], [3, 1, 39, 47], [4, 36, 11, 49], [5, 2, 35, 41], [6, 16, 18, 47], [7, 1, 35, 48], [8, 40, 2, 42], [9, 4, 29, 47], [10, 13, 34, 49]]

In [78]:
bill=0
for tid,power,st,en in newTspe:
    str1=''
    temp=prices[st:en+1]
    temp.sort()
    for price in temp:
        if pricesLimit[price]>0:
            str1+=str(prices.index(price))+' '
            if pricesLimit[price]<=power:
                str1+=str(pricesLimit[price])
                bill+=pricesLimit[price]*price
                power-=pricesLimit[price]
                pricesLimit[price]=0
                str1+=' '
            else:
                bill+=power*price
                str1+=str(power)
                pricesLimit[price]-=power
                power=0
                str1+=' '
        if power==0: break
    print(tid,str1)

1 38 1
5 38 2
3 39 1
2 34 4
7 38 1
10 38 1 34 1 37 5 39 4 40 2
9 40 3 35 1
6 35 4 41 5 33 5 36 2
4 36 3 31 5 32 5 42 5 43 5 44 5 29 5 30 3
8 2 5 30 2 3 5 26 5 28 5 15 5 4 5 16 5 13 3

In [80]:
bill

578118

In [79]:
print(pricesLimit)

{6139: 5, 6204: 5, 5839: 0, 6402: 0, 7169: 0, 9608: 5, 9301: 5, 9700: 5, 8642: 5, 8191: 5, 8590: 5, 8553: 5, 8290: 5, 7576: 2, 7589: 5, 7153: 0, 7234: 0, 7762: 5, 8247: 5, 7989: 5, 8769: 5, 8430: 5, 8469: 5, 8338: 5, 7754: 5, 8526: 5, 6617: 0, 7806: 5, 7135: 0, 5925: 0, 5944: 0, 4303: 0, 4491: 0, 3822: 0, 2030: 0, 3368: 0, 4013: 0, 2551: 0, 1851: 0, 3061: 0, 3286: 0, 3674: 0, 4504: 0, 4905: 0, 5801: 0, 6043: 5, 6148: 5, 6152: 5, 6804: 5, 8136: 5}

In [68]:
power=[x-y for _,_,y,x in tskPowStEn]

In [69]:
power

[4, 9, 8, 38, 6, 29, 13, 40, 18, 15]

In [70]:
te=[(power[i],i) for i in range(len(power))]

In [72]:
te.sort()
print(te)

[(4, 0), (6, 4), (8, 2), (9, 1), (13, 6), (15, 9), (18, 8), (29, 5), (38, 3), (40, 7)]

In [73]:
newTspe=[]
for _,x in te:
    newTspe.append(tskPowStEn[x])

In [74]:
newTspe

[(1, 1, 35, 39),
 (5, 2, 35, 41),
 (3, 1, 39, 47),
 (2, 4, 25, 34),
 (7, 1, 35, 48),
 (10, 13, 34, 49),
 (9, 4, 29, 47),
 (6, 16, 18, 47),
 (4, 36, 11, 49),
 (8, 40, 2, 42)]

### <font face='comic sans ms' color ='magenta'>Recycle Bin</font>

In [3]:
tupPriceIndex=[(i,prices[i]) for i in range(N)]

In [4]:
tupPriceIndex=sorted(tupPriceIndex,key=lambda x:x[1])

In [5]:
print(tupPriceIndex)

[(38, 1851), (34, 2030), (37, 2551), (39, 3061), (40, 3286), (35, 3368), (41, 3674), (33, 3822), (36, 4013), (31, 4303), (32, 4491), (42, 4504), (43, 4905), (44, 5801), (2, 5839), (29, 5925), (30, 5944), (45, 6043), (0, 6139), (46, 6148), (47, 6152), (1, 6204), (3, 6402), (26, 6617), (48, 6804), (28, 7135), (15, 7153), (4, 7169), (16, 7234), (13, 7576), (14, 7589), (24, 7754), (17, 7762), (27, 7806), (19, 7989), (49, 8136), (9, 8191), (18, 8247), (12, 8290), (23, 8338), (21, 8430), (22, 8469), (25, 8526), (11, 8553), (10, 8590), (8, 8642), (20, 8769), (6, 9301), (5, 9608), (7, 9700)]

In [6]:
tskPowStEn

[(1, 1, 35, 39),
 (2, 4, 25, 34),
 (3, 1, 39, 47),
 (4, 36, 11, 49),
 (5, 2, 35, 41),
 (6, 16, 18, 47),
 (7, 1, 35, 48),
 (8, 40, 2, 42),
 (9, 4, 29, 47),
 (10, 13, 34, 49)]

In [7]:
tid,pw,st,en=tskPowStEn[0]
ls=[]
for i,value in tupPriceIndex:
    if st<=i<=en:
        pw-=1
        ls.append(i)
        ls.append(1)
    if pw==0: break

In [8]:
ls

[38, 1]

In [9]:
for tid,pw,st,en in tskPowStEn:
    ls=[]
    for i,value in tupPriceIndex:
        if st<=i<=en:
            pw-=1
            ls.append(i)
        if pw==0: break
    print(tid,end=' ')
    printing(ls)
    # print()

1

NameError: name 'printing' is not defined

In [24]:
def printing(ls):
    c=1
    i=0
    ls.sort()
    for i in range(len(ls)-1):
        if (ls[i]+1)==ls[i+1]:
            c+=1
        else:
            print(ls[i],c,end=' ')
            c=1
    
    print(ls[i],c)

In [13]:
a=[1,2,3,1,2,4,1]

In [18]:
b=a[2:5]
b.sort()

In [19]:
b

[1, 2, 3]

In [56]:
bill

567879